.root {
  width: 100vw;
  height: 100vh;
}

.main > div {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  margin: auto;
  max-width: 1420px;
  flex-direction: column;
  padding-bottom: 55em;
}

.main > * {
  flex-direction: column;
  justify-content: center;
  
  padding: 0px 1em;
}

.img {
  align-items: center;
  padding-top: 1em;
}

.info {
  align-items: flex-start;
  text-align: left;
}

.head {
  margin-bottom: 1em;
}

.head > h2 {
  font-size: 3.25em;
}
.text > * {
  text-align: right;
}

.view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  color: #A4804C;
  text-decoration: none;
}
.view a:visited{
  color: #A4804C
}


.varianContainer{
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  flex-wrap: wrap;
}

.variant{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .img {
    padding-top: 0;
  }
 
  .info{
    text-align:right;
  }
  .main {
    flex-direction: row;
    padding: 0;
  }
  .main>div{
    width: 100%;
  }
}
